* {margin:0; padding:0}
body {font:12px Verdana, Arial, Helvetica, sans-serif; color:#666}
body, p, table, td, th, hr{margin: 0; padding: 0}
a, a:visited{color:#127cad; text-decoration: none}
a:hover{color:#CC0000}
#main{margin: auto; width: 90%; padding-top:20px; min-height: 550px}
#footer{height: 40px;  margin: auto; width: 100%; padding-top:30px;}
#header{height: 40px; width: 100%; margin: 15px auto 0;}
#header .right {height: 25px; float:right; padding-top: 10px; padding-right: 20px}
#header .left {float:left; padding-left: 20px }
.clear, .qawiki-clear{margin:0; padding:0; height:0;line-height:0;font-size:0;clear:both;}

label.error, span.error, div.error{padding:10px; background-color: #FBD5D5; border: 1px solid #CC0000;color: #990000; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius:3px}
.success {padding:10px;	border:1px solid #62991c; color:#3d5a19; text-align:center; background-color:#aec98c}

form.constrain label{display: inline-block; min-width: 115px; margin-right: 10px}
form.constrain label.top{vertical-align: top}
form.constrain div{margin-top: 10px}
form.constrain .form-option{padding-top: 15px}
form.constrain .submit{margin-top: 15px}
form.constrain .radio{padding: 0 0 0 20px}
form.constrain input[type=radio]{margin-top:5px}
form.constrain textarea, form.constrain input[type=text], form.constrain input[type=password], form.constrain select{border: 1px solid #aaa}
form.constrain input[type=text], form.constrain input[type=password]{min-width: 200px}

form.inline-constrain div{display: inline-block}
form.inline-constrain label{min-width: 10px; margin-right:10px}
form.inline-constrain input, form.inline-constrain select{margin-right:10px}

.filter-heading{font-size:14px; font-weight: bold}

.stores-list{margin: 20px 0; border-collapse: collapse}
.stores-list th{background: #1F8F8F; color: #fff; padding: 5px 0}
.stores-list td{padding: 3px; font-size:11px}
.stores-list tr.selected{background-color: #eee}

.embed-code{width: 400px; height: 100px; margin: 10px 0}
.group_margin {margin-top:5px}
.hideDiv {display: none}

.message {padding:10px; border:1px solid #62991c; color:#3d5a19; text-align:center; background-color:#d28f79}

#suggestion{border:1px solid #a72f08; padding-left: 115px; width: 200px; }
.paging_gray {text-align: center}
#moderate {margin: 15px auto 0; border: 1px}
#moderate .items {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  background-color:#AFAFAF;
  width: 100px;
  padding: 10px 0;
  vertical-align: middle;
  text-align: center;
  float:left;
  text-transform: capitalize;
  margin-right: 2px
}
#moderate .items:hover, #moderate .items:active, #moderate .items:visited, #moderate .items.tab-selected {
  background-color: #888;
}

#moderate .items a, #moderate .items a:hover{color:#333}
.moderate-tab-content{border:1px solid #333333; padding:20px}
/*a.selectImage{ border: 5px;color:#CC0000}*/

/* POPUP start*/

.link-prod-container{display: inline-block}
.link-prod-container, .link-prod-container div{margin-top: 0 !important}
.link-products,.edit-products{width: 120px; margin: 0 5px 5px 0; padding: 5px; border:1px solid #ccc; float: left; cursor: pointer}
.linked-prod{height:100px; width: 100%}
.linked-prod td, .linked-prod table{text-align: center; vertical-align: middle; height: 100%; width: 100%; font-size:11px}
.search-icon{background: url(http://qawiki.iserver.purelogics.info/images/widget/openSearch.gif) center center no-repeat}
.edit-products .add, .edit-products .remove,.link-products .add, .link-products .remove{padding: 3px; text-align: center; background: #90B742; color:#fff; text-decoration: underline; font-weight: bold}


#qawiki-overlay {height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 2001}
.qawiki-overlay-bg {background-color: #000000; opacity: 0.75}
#qawiki-window {display: none; left: 50%; position: absolute; z-index: 2002}
#qawiki-overlay-container {background: #fff; max-height: 400px; min-width:300px; position: relative; overflow-y:auro; }
#qawiki-overlay-container .qa-popup-close{top:10px; right:10px; position: absolute}
.qa-overlay-title{width: 90%; font-weight: bold; padding-bottom:5px}
.qa-overlay-hr{height:1px; line-height: 1px; font-size: 1px; padding: 0; margin: 0; border-top: 1px solid #ccc}

.qawiki-categories{width:170px; float:left}
.qawiki-cat{display:block; padding: 5px; border-bottom: 1px solid #eee; cursor: pointer}
span.qawiki-cat:hover, .qawiki-cat-selected{background: #f2f2f2}
.qawiki-categories h3{margin: 15px 0 5px}

#qawiki-products{float:left; width: 280px; margin-left: 10px}
.qawiki-product{display: block; padding: 5px 0; border-bottom: 1px solid #eee}
.qawiki-product-title{display: inline-block; width: 160px; padding-right: 10px; font-weight: bold}
.qawiki-product-desc{display: block; padding-top: 5px}
.qawiki-add-product {display: inline-block}
.qawiki-add-product a, .qawiki-product-added a{display: inline-block; width: 98px; padding: 5px 3px; text-decoration: none; text-align: center; font-weight: bold; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px}
.qawiki-add-product a {border: 1px solid #ABDE22; background: #78A22F; color: #fff !important}
.qawiki-product-added a {border: 1px solid #aaa; background: #999; color: #ccc !important}
.qawiki-add-product a:hover{background: #90B744}
.qawiki-product-added a:hover{background: #aaa; border-color: #333}

/* POPUP ends */

.view-details{font-style: italic; font-size: 11px }
.post-details{padding: 10px 0 0 20px}


.related-prod-head{padding: 10px 0 0}
.related-prod{position: relative; margin:10px 0 10px 10px}
.related-prod .left{position: absolute; overflow: hidden; width: 75px; height: 100px; top: 5px; left: 0}
.related-prod .left img{max-width: 75px; max-height: 75px}
.related-prod .img-cont{min-height: 80px; margin:0 0 0 80px; display: inline-block; vertical-align: top}

.video{padding: 5px 0 10px}
.video .video-head{padding:3px 0}

.site-error{width: 60%; margin: 40px auto}

.disp_heading_white{padding: 10px; background: #1F8F8F; font-size: 20px; font-weight: bold; color: #fff; border: 1px solid #127cad}

h1.store-name a{font-size:12px; font-weight: normal; display: inline-block; margin-left: 12px; vertical-align: middle}
#msg {display:none; position:absolute; z-index:200; padding-left:7px}
#msgcontent {display:block; min-width:150px; max-width:250px;background-color: #FBD5D5 }

.map-products{padding: 10px 20px; font-size: 11px}
.map-products div{border-bottom: 1px solid #ccc; padding: 10px 0}
.map-products .map-link{background: #ccc; float: right; padding: 3px 6px}

.placeholder{margin-bottom: 10px}
.placeholder .email-guide, .placeholder span{display: block}
.placeholder p{padding: 10px 0}
.placeholder span{padding: 3px 5px}

.qawiki-ptitle-wide {
    width: 360px;
}
.qawiki-product-desc {
    display: block;
    padding-top: 5px;
}
.qawiki-add-product a {
    background: none repeat scroll 0 0 #78A22F;
    border: 1px solid #ABDE22;
    color: #FFFFFF !important;
}

.qawiki-product-title {
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
    width: 180px;
}

.qawiki-add-product a {
    background: none repeat scroll 0 0 #78A22F;
    border: 1px solid #ABDE22;
    color: #FFFFFF !important;
}

.tooltip {
      display:none;
      background:transparent url(../images/black_arrow_big.png) no-repeat;
      font-size:10px;
      height:155px;
      width:330px;
      padding:25px;
      color:#fff;	
      z-index:999;
}
.tooltip a{
      color:	#000;

}
.tooltip a:hover{
      color:	#aaa;	
}